body {
    font-family: Arial, serif;
    margin-top: 4rem;
}

.bg-black{
    background: black;
}

.nav-textcolor a{
    color: white;
}

::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 1rem;
}
