body{
    font-family: Arial, serif;
    background-image: url("../images/background-cindy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-textcolor a {
    color: white;
}

#cindyImg {
    margin-top: 6rem;
    animation: fadeIn ease-in-out 1s forwards;
}

#titleImg{
    width: 90%;
    margin-left: 1rem;
    animation: fadeIn ease-in-out 1s forwards 0.6s;
    margin-top: 17rem;
    opacity: 0;
}

#textcontainer{
    margin-top: 10rem;
    background: white;
    border: solid black 0.125rem;
    box-shadow: 1rem 1rem 1rem 0 black;
    width: 27%;
    height: fit-content;
    padding: 0.75rem;
    padding-bottom: 0;
    animation: fadeIn ease-in-out 1s forwards 1s;
    opacity: 0;
    color: red;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    margin-left: 3rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 100%
    }
}